<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <title>Title</title>
</head>
<body>
<h1>Albums</h1>

<form action="/addAlbum">
    <fieldset>
        <legend>Add New Album</legend>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist"><br><br>
        <label for="count">Song Count:</label>
        <input type="text" id="count" name="count"><br><br>
        <label for="sec">Length:</label>
        <input type="text" id="sec" name="sec"><br><br>
        <label for="cover">Album's Photo URL:</label>
        <input type="text" id="cover" name="cover"><br><br>
        <input type="submit" value="Add">
    </fieldset>
</form>

<ul>
    <li th:each="album : ${albums}">
        <h3>Title: <span th:text="${album.title}"></span></h3>
        <p>Artist: <span th:text="${album.artist}"></span></p>
        <p>Count: <span th:text="${album.songCount}"></span></p>
        <p>Length: <span th:text="${album.length}"></span> </p>
        <img th:src="${album.imageUrl}"/><br>
        <button type="button" th:onclick="|window.location.href='/songs/{album.id}'|">View Album</button>
    </li>
</ul>
<button type="button" th:onclick="|window.location.href='/songs'|">All Songs</button>

</body>

<footer>&copy; Victoria Fares 2021 </footer>
</html>